@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

:root {
  --primary: #f3fff2;
  font-family: 'Rubik', serif;
}

body {
  background-color: var(--primary);
}

.rubik-<uniquifier > {
  font-family: 'Rubik', serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.FAB {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  color: green;
  border-radius: 15px;
  padding: 0.75rem;
}
